[user]
	name = Chadwick Dahlquist
	email = cdahlquist@lo3energy.com
[push]
	default = matching
[rerere]
	enabled = true
[credential]
	helper = cache --timeout=86400
[core]
	autocrfl = false
[commit]
	gpgsign = true
